<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zonsim.nestedscroll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ScrollingActivity">
        </activity>
        <activity android:name=".touch.TouchActivity"/>
        <!-- android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" -->
        <activity
            android:name=".nestingscroll.NestedScrollActivity"
            android:theme="@style/BaseAppTheme">
        </activity>
        <activity android:name=".test.TestActivity">
        </activity>
    </application>

</manifest>